<div class="container py-5">
  <h2 class="mb-4 text-center fw-bold">Mi Perfil</h2>

  <!-- Perfil del usuario -->
  <div class="card shadow-sm border-0 mb-5">
    <div class="card-body">
      <h5 class="mb-3 fw-semibold">Información personal</h5>
      <p><strong>Nombre completo:</strong> {{ user?.fullName }}</p>
      <p><strong>Email:</strong> {{ user?.sub }}</p>
    </div>
  </div>

  <!-- Reservas del usuario -->
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h5 class="mb-3 fw-semibold">Mis Reservas</h5>

      <div *ngIf="reservations.length > 0; else sinReservas">
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let r of reservations"
          >
            <div>
              <strong>{{ r.event.name }}</strong
              ><br />
              <small>{{ r.event.date }} - {{ r.event.location }}</small>
            </div>
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="download(r.id)"
            >
              Descargar entrada
            </button>
          </li>
        </ul>
      </div>

      <ng-template #sinReservas>
        <p class="text-muted text-center mb-0">No tienes reservas aún.</p>
      </ng-template>
    </div>
  </div>
</div>
