<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a
      class="navbar-brand fw-bold text-warning"
      routerLink="/"
      (click)="collapseNavbar()"
    >
      Festivra
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNav"
      #navbarCollapse
    >
      <ul class="navbar-nav align-items-center">
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/login" (click)="collapseNavbar()"
            >Iniciar sesión</a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/register" (click)="collapseNavbar()"
            >Registrarse</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/profile" (click)="collapseNavbar()"
            >Mi Perfil</a
          >
        </li>
        <li class="nav-item ms-2" *ngIf="isLoggedIn()">
          <button class="btn btn-outline-warning btn-sm" (click)="logout()">
            Cerrar sesión
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
