<div class="container py-5" style="max-width: 500px">
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h3 class="text-center mb-4 fw-bold">Iniciar Sesión</h3>

      <form (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input
            [(ngModel)]="form.email"
            name="email"
            class="form-control"
            [class.is-invalid]="formErrors.email"
            required
            type="email"
            placeholder="tucorreo@ejemplo.com"
          />
          <div class="invalid-feedback" *ngIf="formErrors.email">
            {{ formErrors.email }}
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            [(ngModel)]="form.password"
            name="password"
            class="form-control"
            [class.is-invalid]="formErrors.password"
            required
            type="password"
            placeholder="********"
          />
          <div class="invalid-feedback" *ngIf="formErrors.password">
            {{ formErrors.password }}
          </div>
        </div>

        <div *ngIf="error" class="alert alert-danger">
          {{ error }}
        </div>

        <button class="btn btn-primary w-100" type="submit">Entrar</button>
      </form>
      
      <div class="text-center mt-3">
        <p class="mb-0">¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
      </div>
    </div>
  </div>
</div>
